{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "transform-runtime": {},
        "styled-jsx": {},
        "class-properties": {},
        "preset-react": { "runtime": "automatic", "importSource": "@emotion/react" }
      }
    ]
  ]
}
